.idea/
.Rhistory
src/__pycache__/
src/Rplots.pdf
src/IELT/pretrained/
results/
resultsNfolds/
results_dl/
data
model_checkpoints
outputs/
.vscode/
checkpoint
data_1024_UCDB_UPS/
data_512_UCDB_UPS/
Evaluation_from_checkpoints/
data_test/
checkpoints_from_other_computer/
evaluation_results.csv
predictions/